extends layout


block content
    h1 #{title}
        h3 Login here

    each user in users
        a(href='/users/' + user) #{user}
        br
    h3 or view all purchases
    a(href='/purchases' ) purchases




