extends layout

block content

    h1 #{title}

    table(style='width:60%', border='1')
        tr
            th Category
            th Amount
            th Description
        each purchase in purchases
            tr
                td #{purchase.category}
                td #{purchase.cost.$numberDouble}
                td #{purchase.description}
